@import "variables.less";
@import "mixins.less";

#itemwrap { 
    min-height: 400px;
    h1 {
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        margin-top: 70px;
    }
    h2 {
        color: #fff;
        font-size: 35px;
        font-weight: 200;
    }
}
.private-upload {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/private-upload/header-private-uplaod-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/private-upload/header-private-uplaod-bg.jpg');
    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/private-upload/header-private-uplaod-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/private-upload/header-private-uplaod-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/private-upload/header-private-uplaod-bg.jpg');
}

.randstad-bg {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/randstad-retail/randstad-head-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/randstad-retail/randstad-head-bg.jpg');
    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/randstad-retail/randstad-head-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/randstad-retail/randstad-head-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/randstad-retail/randstad-head-bg.jpg');
}

.next-retail {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/next-retail/top-header-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/next-retail/top-header-bg.jpg');
    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/next-retail/top-header-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/next-retail/top-header-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/next-retail/top-header-bg.jpg');
}

.year-review-bg {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/year-review/header-year-review-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/year-review/header-year-review-bg.jpg');
    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/year-review/header-year-review-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/year-review/header-year-review-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.9) 0%, rgba(19,26,30,0.6) 100%), url('../img/year-review/header-year-review-bg.jpg');
}

.pro-free-bg {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.4) 100%), url('../img/pro-free/header-pro-free-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.4) 100%), url('../img/pro-free/header-pro-free-bg.jpg');
    /* Opera */     
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.4) 100%), url('../img/pro-free/header-pro-free-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.4) 100%), url('../img/pro-free/header-pro-free-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.4) 100%), url('../img/pro-free/header-pro-free-bg.jpg');

}

.ss-emails {
    background-size: auto auto, cover;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.9) 100%), url('../img/slideshare-emails/top-header-bg.jpg');
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.9) 100%), url('../img/slideshare-emails/top-header-bg.jpg');
    /* Opera */     
    background-image: -o-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.9) 100%), url('../img/slideshare-emails/top-header-bg.jpg');
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #131a1e), color-stop(1, #131a1e));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.9) 100%), url('../img/slideshare-emails/top-header-bg.jpg');
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center bottom, rgba(19,26,30,0.7) 0%, rgba(19,26,30,0.9) 100%), url('../img/slideshare-emails/top-header-bg.jpg');

}

#w {
    h3 {
        font-weight: 500;
        color: #333;
        margin-bottom: 20px;
    }
    img {
        margin: 20px 0;
    }
    
}

#dg {
    background: #efefef;
    p {
        font-size: 20px;
        line-height: 1.6;
        .body-font;
    }
    h3 {
        padding: 0 0 20px 0;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .desc {
        h4 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 150%;
            .heading-font;
        }
    }
    .desc-a {
        h4 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 150%;
            .heading-font;
        }
    }
}

.desc {
    p {
        padding-right: 25px;
        line-height: 1.4;
    }
}

.desc-b {
    padding-left: 30px;
  p {
    .heading-font();
    font-size: 1.1em;
    line-height: 1.8;
  }
    i.fa {
        color: #bbb;
    }
}

.gray-bg {
  background: #ddd;
}


.highlighted-section {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top:30px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    .background-cover();
}

figcaption {
  .fa {
    margin-right: 10px;
  }
  span {
    font-size: 14px;
    .heading-font;
  }
}

#dg-img-bg {
    background: #303030;
    h5 {
        color: #dfdfdf;
        font-size: 30px;
        padding: 30px 0 0;
        text-align: center;
    }
    .centered {
        display: block;
        max-width: 85%;
        margin: 0 auto;
        padding: 0;
    }
    figcaption {
        color: #dfdfdf;
        text-align: center;
    }
}

#w-img-bg {
    background: #fff;
    .centered {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

.carousel {
    .carousel-indicators {
        bottom: -40px;
        li {
            background: #999;
            border-color: #aaa;
        }
        li.active {
            background: #333;
        }
    }
}


.modal-slider {
    width: 100%;
    height: 100%;
    padding: 0;
    .modal-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        h4.modal-title {
            font-size: 24px;
            text-align: center;
        }
        .close {
            font-size: 50px;
            font-weight: 100 !important;
            .body-font();
            margin-top: -10px;
        }
        .modal-footer {
            text-align: center;
            margin: 0 auto;
        }
        .carousel {
            .carousel-inner > .item > img, .carousel-inner > .item > a > img {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

.wid60 {
    width: 60%;
}

h4.special-border {
    border: 1px dashed #333;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 480px) {
  .highlighted-section {
    min-height: 300px;
  }
  #dg-img-bg {
    h5 {
        font-size: 16px;
    }
  }
}
