@import "variables.less";
@import "mixins.less";

body {
    background-color: #f2f2f2;
    .body-font;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
.centered {
    text-align: center;
}

img.centered {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.mar-top-20 {
    margin-top: 40px; 
}

.short {
    width: 90%;
}

.profile-pic {
    .border-radius(50%);
    border: 5px solid #fff;
    height: 140px;
    width: 140px;
    .box-shadow(0 0 3px #aaa);
    margin-bottom: 20px;
}
.nowrap {
    white-space: nowrap;
}
a {
    color: #f85c37;
    word-wrap: break-word;
    .transition(color 0.1s ease-in background 0.1s ease-in);
    &:hover, &:focus {
        color: #7b7b7b;
        text-decoration: none;
        outline: 0;
    }
    &:before, a:after {
        .transition(color 0.1s ease-in background 0.1s ease-in);
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#headerwrap {
    background: url(../img/white-trans-extra.png) #f3f3f3 repeat;
    .background-cover();
    background-size: auto, cover;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    h1 {
        color: #333;
        font-size: 48px;
        font-weight: 200;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    h2 {
        .body-font;
        color: #666;
        font-size: 29px;
        font-weight: 100;
        letter-spacing: 0.08em;
    }
    .container {
        padding: 100px;
    }
    .location {
        color: #888;
        font-size: 20px;
        margin-top: 22px;
        i {
            margin-right: 10px;
        }
    }
    .down-arrow {
        position: relative;
        top: 20px;
    }
    .btn {
        text-transform: uppercase;
        .heading-font;
        font-weight: 400;
        .transition(all .3s ease-in-out);
    }
    .btn-circle {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #ddd;
        border-radius: 35px;
        font-size: 40px;
        color: #ddd;
        background: 0 0;
        .transition(all .3s ease-in-out);
        i.animated {
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            -moz-transition-property: -moz-transform;
            -moz-transition-duration: 1s;
        }
        &:hover {
            border: 2px solid #bbb;
            outline: 0;
            color: #bbb;
            background: rgba(255,255,255,.1);
        }
    }
}
#portfoliowrap {
    border-top: 1px solid #f9f9f9;
    background: #f2f2f2;
    margin-top: 0px;
    padding-top:40px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    .background-cover();
    background-size: auto, cover;
    .top-buffer {
        padding: 40px 0;
    }

    h3 {
        color: #333;
        padding-bottom: 50px;
    }
    figure {
        margin: 0;
        padding: 0;
        .icon-overlay {
            display: block;
            position: relative;
            z-index: 0;
            img {
                .border-radiuses(3px,0,0,3px);
                display: block;
                max-width: 100%;
            }
            a {
                .icn-more {
                    opacity: 0;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    text-decoration: none;
                    width: 100%;
                    z-index: 100;
                    background-color: rgba(248, 92, 55, 0.8);
                    .transition(all 200ms ease-out);
                    overflow: hidden;
                    &:before {
                        font-style: normal;
                        font-weight: normal;
                        speak: none;
                        display: inline-block;
                        text-decoration: inherit;
                        position: absolute;
                        text-align: center;
                        content: '\2b';
                        width: 60px;
                        height: 60px;
                        font-size: 60px;
                        line-height: 1;
                        color: #FFF;
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        margin: -30px 0 0 -30px;
                        .transition(all 200ms ease-out);

                    }
                }
                &:hover{
                    .icn-more {
                        .border-radiuses(3px,0,0,3px);
                        opacity: 1;
                    }
                    .icn-more:before {
                        font-size: 30px;
                        padding-top: 15px;
                    }

                }
            }
        }
        .icon-overlay a .icn-more, {
            background-color: rgba(248, 92, 55, 0.8);
        }
        .icon-overlay.icn-link {
            a {
                .icn-more:before {
                    content: '\2b';
                }
            }
        }

        .bordered {
            background: #fff;
            border: 1px solid #E6E9ED;
            border-bottom-width: 2px;
            border-radius: 3px;
            padding: 25px;
            background: #F5F7FA;
            .info {
                text-align: center;
                h3 {
                    margin: 0;
                    font-size: 18px;
                    line-height: 150%;
                    padding: 0 0 10px 0;
                    a {
                        color: #717171;
                        font-weight: 200;
                        &:hover{
                            color: #f85c37;
                        }
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .no-top-border {
            border-top: none;
        }
    }
}
.port-space {
    padding-bottom: 20px;
}
#w {
    background: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    h3 {
        font-weight: 700;
        color: #7b7b7b;
        letter-spacing: 1px;
    }
    bold {
        color: #2f2f2f;
    }
}
#g {
    background: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    h3 {
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}


#dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#f {
    background: #2f2f2f;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    h3 {
        color: white;
    }
    p{
        color: #f9f9f9;
    }
    i {
        font-size: 26px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
}
#itemwrap {
    margin-top: 0px;
    padding-top:70px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    .background-cover();
    h1 {
        margin-top: 40px;
        color: #333;
        font-size: 100px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    h2 {
        color: #333;
        font-size: 50px;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
.desc {
    text-align: left;
}
.desc-b {
    border-left: 4px solid #bababa;
    i {
        color: #555;
        padding-right: 8px;
    }
}
.desc-a {
    i {
        color: #555;
        padding-right: 8px;
    }
}
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
    h1.logo {
        a {
            .heading-font;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 0.15em;
            line-height: 40px;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 20px;
            &:hover {
                color: #f85c37;
            }
        }

    }
    img.logo {
        margin: 20px 0;
        max-width: 160px;
    }
    a {
        margin-left: 20px;
        color: #808080;
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        & > i {
            float: left;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            width: 25px;
            font-size: 14px;
            line-height: 40px;
            margin: 25px 2px;
        }
    }
    a:hover {
        color: #ffffff;
    }
    a:active {
        color: #ffffff;
    }
}
.menu.menu-open {
    right: 0px;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: #808080;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 32px;
    right: -10px;
    .transition(all .1s ease-in-out);
    &:hover {
        color: #ffffff;
        .transition(all .1s ease-in-out);
    }
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.menu,.body-push {
    .transition(all .3s ease);
}
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    .transition(all .1s ease-in-out);
    &:hover {
    color: #ffffff;
        background: rgba(0,0,0,0.2);
        .transition(all .1s ease-in-out);
    }
}
.btn-theme {
    color: #fff;
    background-color: #1abc9c;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        color: white;
        background-color: #16a085;
    }
}
.team {
    padding-top: 20px;
    a {
        padding-right: 10px;
        padding-left: 10px;
    }
    &:hover {
        background: white;

    }
}

